<div class="container">
	<h2 class="text-center header">Rin Minase's NAS</h2>

	<div class="progress-container d-flex mb-4 text-center">
		<h3 class="w-12 mb-2">Current Status</h3>
		<p class="w-6 mb-1">Free: <span id="free"></span></p>
		<p class="w-6 mb-1">Size: <span id="size"></span></p>
		<div class="w-12">
			<div class="progress">
				<div class="progress-inner" id="progress">55%</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="shutdown-image-container">
			<img src="assets/shutdown.svg" class="shutdown-image" id="shutdown" />
		</div>
	</div>
</div>
